@{
    ViewBag.Title = "Home Page";

}


<div class="container bg-content">
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-sm-3 pull-left  ">
                <div class="thumbnail">
                    <img src="https://placehold.it/150x80?text=IMAGE" style="width:100%" alt="...">
                    <div class="caption">
                        <h3>Maine Coon </h3>
                        <p>Мэйн Кун – аборигенная порода полудлинношерстных кошек, 
                        предки которых проживали на фермах штата Мэн, 
                        Северо-Восточная Америка.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-9 pull-right  ">
                <h2>Мэйн Кун</h2>
                <p> Мейн-куны известны своим высоким интеллектом, ласковым характером и особенно крупными размерами. 
                Данная порода носит статус одной из самых крупных домашних кошек в мире: 
                средний вес самок составляет 4,5-6 кг, а вес самцов может колебаться от 7 до 12 кг.</p>
               <br>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div class="col-sm-3 pull-right inner-content ">
                <div class="thumbnail">
                    <img src="https://placehold.it/150x80?text=IMAGE" style="width:100%" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-9 pull-left inner-content ">
                <h2>Media Object</h2>
                <p>Use the "media-left" class to left-align a media object. Text that should appear next to the image, is placed inside a container with class="media-body".</p>
                <p>Tip: Use the "media-right" class to right-align the media object.</p><br>
            </div>

        </div>
    </div>

</div>


